.sorting-station {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 16px;
  }
  
  .left-section {
    border-right: 2px solid #384847;
    flex: 3;
  }
  
  .left-section .left img,
  .left-section .middle img {
    width: 100%;
  }
  
  .right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  
  .info-box {
    margin-bottom: 20px;
  }
  
  .info-row {
    display: flex;
    align-items: center;
  }
  
  .info-row .picture img {
    width: 100%;
  }
  
  .purchase-button {
    padding: 10px;
    background-color: #99cc00;
    border: none;
    color: white;
    cursor: pointer;
  }
  